.CV {
    width: 100%;
    height: 100%;
    background:#102331;
    color: white;
    margin-top : 40px;
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 5px;
}

.Heading {
    text-align: right;
}

.Body h3 {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    padding-left : 5px;
}

td {
    padding : 4px 8px;
    font-size : 18px;
}

.JobHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.JobHeadline strong {
    border-left: 4px solid white;
    padding: 0 5px;
}

.CV span {
    color: var(--salmon);
    cursor: pointer;
}